
.goal-weight-button-container {
  position: fixed;
  bottom: 130px;
  right: 60px;
  z-index: 1; /* Optional: Use a z-index to control the stacking order if needed */
}

.goal-weight-form.hidden input[type="number"],
.goal-weight-form.hidden input[type="date"],
.goal-weight-form.hidden button {
  display: none;
}


.progress-form {
  max-width: 700px;
  height: auto;
  margin: auto;
  padding: 60px;
}

.progress {
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 20px;
  
}

.form1 {
  display: grid;
  grid-gap: 30px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blue-btn {
  background-color: #ff1100;
  color: #fff;
  font-size: larger;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.blue-btn:active {
  transform: scale(0.9); 
}


  
  .progress-card-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

  }
  
  .progress-card {
  width: 100%;
  max-width: 600px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin: auto;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  word-wrap: break-word;
  margin-bottom: 20px;
  text-align: left;
}
  
  .progress-card:hover {
    transform: translateY(-5px);
  }
  
  .progress-card h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    left: 0px;
  }
  
  .progress-card p {
    margin-bottom: 10px;
  }
  
.progress-card img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 4px;
  word-wrap: break-word;
  margin-left: 0; 
}

.Delete-btn {
  border: none;
  color: red;
  cursor: pointer;
  background-color: #0057b300;
  font-size: large;
}
.Delete-btn:hover {
  transform: scale(1.1)
}
.App {
  background-color: rgb(118, 118, 118);
}


  

  @keyframes slideIn {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .slide-in {
    animation: slideIn 0.3s ease;
  }