.grid-container {
    display: grid;
    grid-template-columns: auto;
    background-color: #030303;
    padding: 0px;
  }
  .grid-item {
    background-color: rgb(117, 117, 117);
    border: 1px solid rgb(117, 117, 117);
    padding: 0px;
    font-size: 30px;
    text-align: center; 
}
.spotify {
  background-color: rgb(117, 117, 117);
}

.at-home {
  text-align: center;
  
}