
header {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    height: 200;
  }
  
  .website-name {

    font-size: 46px;
    width: 20%;

  }
  
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100%;
  }
  
  .nav-button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #00000000;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    position: relative;
    cursor: pointer;
  }
  .theme {
    display: inline-block;
    padding: 0px 0px;
    border: none;
    border-radius: 4px;
    background-color: #000000;
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
  }
  .theme:hover {
    animation: rainbow 5s linear infinite;
  }
  @keyframes rainbow {
    0% { color: rgb(255, 255, 255);}
    7% { color: red;}
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    95% { color: rgb(255, 0, 0); }
    100% { color: rgb(255, 255, 255); }
  }
  
  .nav-button:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease;
  }

  
  .nav-button:focus {
    outline: none;
   
  }
  
  .nav-button:active {
    transform: scale(0.95);
  }
  
  .nav-button:focus:after {
    width: 100%;
  }

  .dropdown-menu {
    width: 200px;
    animation: slideIn 0.3s forwards;
  }

  
  

  @keyframes slideIn {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }


  .dropdown-menu ul {
    list-style: none;
    padding: 0;
    width: 170%; 
    display: flex;
    flex-wrap: wrap;
  }
  .dropdown-menu li {
    flex-basis: 34%; 
    padding: 0px; 
    box-sizing: border-box; 
  }

  
  .theme-option {
    border: none;
    background: transparent;
    cursor: pointer;
    color: white;
  }
  
  .theme-option:hover {
    text-decoration: underline;
  }



  /* /////////////////////// */


/* Base styles for the dropdown */
.dropdown-menu-workouts {
  position: relative;
}

.dropdown-content {
  display: flex; 
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #ffffff00;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  opacity: 0; 
  width: 200px;
  transform: translateY(-10px); 
  transition: opacity 0.3s ease, transform 0.3s ease;
}


.dropdown-menu-workouts:hover .dropdown-content {
  
  opacity: 1; 
  transform: translateY(0); 
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.543); 
  z-index: 9999; 
  
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.modal h3 {
  color: #000000;
  margin: 0;
  font-size: 18px;
}


.modal-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.modal-buttons button {
  margin: 5px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #3db306;
  color: #fff;
}

.modal-buttons button:hover {
  background-color: #0000005f;
}